Makefile
Makefile.in
*.o
tags
TAGS
.deps
.nfs*
*.lo
*.la
*.libs
testsig
.arch-inventory
.arch-ids
testbuffer
testmemory
testsig
*~
*.loT

aspathtest
ecommtest
heavy
heavythread
testavl
testchecksum
testheap
testlistutil
testpqueue
testprefix
testprivs
testqfs
testqlump
testqpath
teststream
testsymtab
testvector
